# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# Git directory
.git
.gitignore

# IDE directories
.idea/
.vscode/

# Build files
dist/
build/
